.item {
    padding: 10px;
}
.item img {
    width: 50px;
}
.postsBlock {
    padding-left: 10px;
}
.descriptionBlock {
    padding-left: 15px;
    margin-bottom: 10px;
    border-bottom: 2px solid black;
}